@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px){
    [data-aos="bg-slide-up"] {
        background: transparent;
        color:aliceblue;
        transition-property: background;
    }
    
    [data-aos="bg-slide-up"].aos-animate {
        background:white;
        color: darkslategrey;
    }
    
    [data-aos="bg-slide-up"].aos-animate nav{
        color: darkslategrey;
    }
}